<app-nav></app-nav>
<div class="about-section">
  <h1 style="text-align:center">About Us</h1><br>
  <p>MYSOCIETY app makes place secure and more convenient for residents. 
    The mysociety app was built as a comprehensive society management System keeping in mind every single stakeholder of a gated community or apartment</p>
  <div class="list-points">
    <h3> The benefits provided by mysociety are:</h3> 
    
    <ul>

      <li>  Improved Convenience: Manage Daily Help(maid,cook,electrician,plumber,etc)</li>
      
      <li>  UseDigital Communication : You can read your notice board,raise complaints,find contact details of committee members,your neighbours,and get emergency Contacts</li>
    
      <li>  Enjoy easy bookkeeping: The society management can maintain resident details which makes it easier for the committee to manage.</li>
    </ul>
    <!--<p>
      1. Improved Convenience: Manage Daily Help(maid,cook,electrician,plumber,etc)
    </p><p>
      2. UseDigital Communication : You can read your notice board,raise complaints,find contact details of committee members,your neighbours,and get emergency Contacts
      </p><p>
      3. Enjoy easy bookkeeping: The society management can maintain resident details which makes it easier for the committee to manage.
      
    </p> -->
    <h3> What's New ?</h3>
    <p>
    The Mysociety app has new features as per the current needs and requirements of gated communities
    </p>
    <p>
    1.Our CovidProtect Feature: Enables residents to view how many flats in their society are quarantined or what'sthe vaccination status of the residents.
    </p><p>
    2.Societies can asure safety of the residents by raising alerts to security guards during emergencies.
    </p>
</div>


<!-- <br><h2 style="text-align:center">Our Team</h2><br>
<div class="row">
<div class="column">
  <div class="card">
    <img class="card-img" src="./assets/Lakshmoji.jpeg" alt="Lakshmoji" >
    <div class="container">
      <h2>Lakshmoji</h2>
      <p class="title">Team Leader</p>
      <p>lakshmoji@hexaware.com</p>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>


  <div class="column">
    <div class="card">
      <img class="card-img" src="./assets/Unzela.jpg" alt="Unzela" >
      <div class="container">
        <h2>Unzela</h2>
        <p class="title">Team Member</p>
        <p>unzela@hexaware.com</p>
        <p><button class="button">Contact</button></p>
    </div>
  </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="card-img" src="./assets/Guru.jpeg" alt="Guru" >
      <div class="container">
        <h2>Guru Jaswanth</h2>
        <p class="title">Team Member</p>
        <p>guru@hexaware.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
      <div class="card">
        <img class="card-img" src="./assets/Lazmi.jpeg" alt="Lazmi" >
        <div class="container">
          <h2>Lazmi Rajput</h2>
          <p class="title">Team Member</p>
          <p>lazmi@hexaware.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  <div class="column">
    <div class="card">
      <img class="card-img" src="/assets/image.jpeg" alt="Supriya" >
      <div class="container">
        <h2>Supriya</h2>
        <p class="title">Team Member</p>
        <p>supriya@hexaware.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div> -->