<app-nav></app-nav>
<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>For more information you can contact us, or leave us a message:</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="./assets/contactUs.png" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="cno">Contact Number</label>
          <input type="number" id="cno" name="lastname" placeholder="Your contact number..">

          <!--<label for="country">Country</label>
          <select id="country" name="country">
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="Mexico">Mexico</option>
          </select> -->
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>

        </form>

      </div>
      <button type="submit" class="btn"   style="background-color:rgb(236, 143, 143);color:rgb(26, 24, 24)" (click)="submitsuccess()">Submit</button><br>
    </div>
  </div>




<!-- footer section -->

<footer class="footer">
    <div class="footer__container">
        <div class="footer__contactus">
            <h3>Contact Info.</h3>
            <p>090-080-0706</p>
            <p><strong>Our Location: </strong></p>
            <p>BVRIT Hyderabad</p>
            <p>Telangana, India</p>
        </div>
        <div class="footer__socials">
            <a href="https://www.facebook.com/"><img src="./assets/fb.svg" alt="fb-logo" srcset="" style="width: 40px;height: 40px; color: blue;"></a>
            <a href="https://twitter.com/?lang=en"><img src="./assets/tw.svg" alt="tw-logo" srcset="" style="width: 40px;height: 40px; color: blue;"></a>
            <a href="https://www.instagram.com/accounts/login/"><img src="./assets/insta.svg" alt="insta-logo" srcset="" style="width: 40px;height: 40px; color: blue;"></a>
            <a href="https://in.linkedin.com/"><img src="./assets/linkedin.svg" alt="linkedin-logo" srcset="" style="width: 40px;height: 40px; color: blue;"></a>

        </div>
    </div>
</footer>