<app-lnav></app-lnav>
<main role="main" class="flex-shrink-2">

    <div class="container">

            <div class="card-header text-secondary">

                <div class="row">

                    <div class="col">

                        <h4>Vaccination Status</h4>

                    </div>

                    <div class="form-inline my-0 my-lg-0">

                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveEditModal"

                            (click)="AddCovidButton()">Add

                            </button>

                    </div>

                </div>

            </div>

    </div>

 

    <!-- Modal -->

    <div class="modal fade" id="saveEditModal" tabindex="5" role="dialog" aria-labelledby="exampleModalLabel"

        aria-hidden="true">

        <div class="modal-dialog" role="document">

            <form class="modal-content form-group" [formGroup]="covidForm">

                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Vaccination Details</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-4">

                            <span class="align-middle text-secondary font-weight-bold">Name</span>

                        </div>

                        <div class="col">

                            <div class="input-group mb-3">

                                <input type="text" class="form-control" placeholder="Full Name" aria-label="Firstname"

                                    aria-describedby="basic-addon1" formControlName="firstName">

                            </div>

                        </div>

                    </div>

                    <!--<div class="row">

                        <div class="col-4">

                            <span class="align-middle text-secondary font-weight-bold">Last Name</span>

                        </div>

                        <div class="col">

                            <div class="input-group mb-3">

                                <input type="text" class="form-control" placeholder="Last Name" aria-label="Lastname"

                                    aria-describedby="basic-addon2" formControlName="lastName">

                            </div>

                        </div>

                    </div>-->

                    <div class="row">

                        <div class="col-4">

                            <span class="align-middle text-secondary font-weight-bold">House No</span>

                        </div>

                        <div class="col">

                            <div class="input-group mb-3">

                                <input type="text" class="form-control" placeholder="House No"

                                    aria-label="Insurance" aria-describedby="basic-addon3" formControlName="insurance">

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4">

                            <span class="align-middle text-secondary font-weight-bold">Members</span>

                        </div>

                        <div class="col">

                            <div class="input-group mb-3">

                                <input type="text" class="form-control" placeholder="Family Members"

                                    aria-label="PhoneNumber" aria-describedby="basic-addon4"

                                    formControlName="phoneNumber">

                            </div>

                        </div>

                    </div>

                    <!--<div class="row">

                        <div class="col-4">

                            <span class="align-middle text-secondary font-weight-bold">Email Address</span>

                        </div>

                        <div class="col">

                            <div class="input-group mb-3">

                                <textarea type="text" class="form-control" placeholder="Email Address" aria-label="Address"

                                    aria-describedby="basic-addon5" formControlName="address"></textarea>

                            </div>

                        </div>

                    </div> -->

                    <div class="row">

                        <div class="col-4">

                            <span class="align-middle text-secondary font-weight-bold">Members Vaccinated</span>

                        </div>

                        <div class="col">

                            <div class="input-group mb-3">

                                <textarea type="text" class="form-control" placeholder="Members Vaccinated" aria-label="Address"

                                    aria-describedby="basic-addon5" formControlName="address"></textarea>

                            </div>

                        </div>

                    </div>

 

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn border" data-dismiss="modal"

                        (click)="ClearCovidForm()">Close</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddUpdateCovid()">Save

                        changes</button>

                </div>

            </form>

        </div>

    </div>

 

    <div class="container mt-5">

        <div class="panel panel-default border rounded p-3">

            <nav class="navbar navbar-light justify-content-between">

 

                <form class="form-inline">

                    <span>Show</span>

                    <div class="dropdown mr-3 ml-2">

                        <button class="btn border dropdown-toggle" type="button" id="dropdownMenuButton"

                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            10

                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item" href="#">10</a>

                            <a class="dropdown-item" href="#">25</a>

                            <a class="dropdown-item" href="#">50</a>

                        </div>

                    </div>

                    <span>entries</span>

                </form>

 

                <!--<form class="form-inline">

                    <label for="colFormLabel" class="col col-form-label">Search:</label>

                    <input class="form-control mr-sm-2" type="search" aria-label="Search">

                </form>-->

            </nav>

 

            <table class="table table-striped ">

                <thead>

                    <tr>

                        <th scope="col">Name</th>

                        <th scope="col">Houseno</th>

                        <!--<th scope="col">Phone Number</th>-->

                        <th scope="col">Members</th> 

                        <th scope="col">Mvaccinated </th>

                        <th scope="col"></th>

                        <th scope="col"></th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let pati of covids">

                        <td>{{pati.Name}}</td>
                        <td>{{pati.Houseno}}</td>

                        <!--<td>{{pati.lastName}}</td>

                        <td>{{pati.insurance}}</td>

                        <td>{{pati.address}}</td> -->

                        <!--<td>{{pati.phoneNumber}}</td>-->
                        <td>{{pati.Members}}</td>
                        <td>{{pati.Mvaccinated}}</td>

                        <td><button class="btn btn-primary" data-toggle="modal" data-target="#saveEditModal"

                                (click)="EditOpenModal(pati)">Edit</button></td>

                        <td><button class="btn btn-danger" (click)="RemoveCovid(pati)">Delete</button></td>

                    </tr>

                </tbody>

            </table>

 

        </div>

    </div>

</main>