<app-nav></app-nav>

<div class="container">

    <div style="text-align:center">

      <h2>Help desk</h2>

      <p>leave your complaints here:</p>

    </div>

    <div class="row">

      <div class="column">

        <img src=".\assets\complaints.jpg" style="width:100%">

      </div>

      <div class="column">

        <form action="/action_page.php">

          <label for="fname">Name</label>

          <input type="text" id="fname" name="firstname" placeholder="Your name..">

 

          <label for="lname">House Number</label>

          <input type="text" id="lname" name="lastname" placeholder="Your house number..">

 

          <label for="cno">Contact Number</label>

          <input type="number" id="cno" name="lastname" placeholder="Your contact number..">

 

          <!--<label for="country">Country</label>

          <select id="country" name="country">

            <option value="India">India</option>

            <option value="USA">USA</option>

            <option value="Mexico">Mexico</option>

          </select> -->

          <label for="subject">Complaint</label>

          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>

 

        </form>

 

      </div>

      <input class="cta" type="submit" value="Submit Complaint">

    </div>

  </div>





<!-- footer section -->

 

 
