*{

    box-sizing: border-box;

  }

 

  /* Style inputs */

  input[type=text],input[type=number], select, textarea {

    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    margin-top: 6px;

    margin-bottom: 16px;

    resize: vertical;

  }

 

  input[type=submit] {

    background-color: #4CAF50;

    color: white;

    padding: 12px 20px;

    border: none;

    cursor: pointer;

  }

 

  input[type=submit]:hover {

    background-color: #45a049;

  }

 

  /* Style the container/contact section */

  .container {

    border-radius: 5 px;

    background-color: #f2f2f2;

    padding: 10 px;

  }

 

  /* Create two columns that float next to eachother */

  .column {

    float: left;

    width: 50%;

    margin-top: 6px;

    padding: 20px;

  }

 

  /* Clear floats after the columns */

  .row:after {

    content: "";

    display: table;

    clear: both;

  }

 

  .cta {

      width: 200px;

      margin: auto;

      margin-bottom: 10px;

  }

 

  .footer {

      margin-top: 40px;

      background-color: rgb(114, 114, 114);

  }

  .footer__container {

    width: 80%;

    margin: 0 auto;

    color: white;

    display: flex;

    justify-content: space-around;

  }

 

  .footer__contactus h3 {

      font-size: 18px;

      font-weight: 700;

  }

 

  .footer__contactus p {

      font-size: 14px;

      font-weight: 400;

  }

 

  .footer__socials {

      display: flex;

      justify-content: space-around;

      align-items: center;

      flex: 0.3;

  }

 