<div class="card">
    <div class="card-header">
        <img width="120" length="10" alt="Angular Logo"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwiyNR3AfJBHko5L4eDX_pwFA7hgGevv0wxw&usqp=CAU"  />
       
<nav>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/services">Discover</a></li>
        <li><a routerLink="/about">AboutUs</a></li>
        <li><a routerLink="/contact">ContactUs</a></li>
        <li><a routerLink="/login">Login</a></li>
        <!--<li><a routerLink="/">Logout</a></li>-->
    </ul>
</nav>
</div>
</div>
