<!-- <div class="card">
  <div class="card-header">
    <h1>{{title}}</h1>
  </div>
  <div class="card-body">
<form [formGroup]="contactFrom" (ngSubmit)="onSubmit()" class="register-form">
  <div class="img-div">
    <img class="register-img" src="https://filmfestivalalliance.org/wp-content/uploads/2016/02/committee-graphic.jpg" alt="NA" srcset="">
  </div>
  <div class="register-info">
    <div class="form-group">
      <label for="vid">ID</label>
      <input formControlName="vid" type="text" class = "form-control">
       <span class="error" *ngIf="!contactFrom.controls['vid'].valid && contactFrom.controls['vid']?.touched"> Please enter a valid first name</span>
    </div> 



    <div class="form-group">
      <label for="name">name</label>
      <input formControlName="name" type="text" id="name" name="name" class = "form-control" >
      <span class="error" *ngIf="!contactFrom.controls['name'] && contactFrom.controls['name']?.touched"> Please enter a valid last name</span>
    </div>

    <div class="form-group">
      <label for="houseno">houseno</label>
      <input type="text" id="houseno" name="houseno" class = "form-control" formControlName="houseno">
      <span class="error" *ngIf="!contactFrom.controls['houseno'] && contactFrom.controls['houseno']?.touched"> Please enter a valid houseno</span>

    </div>



    <div class="form-group">
      <label for="email">email</label>
      <input type="text" id="email" name="email" class = "form-control" formControlName="email">
      <span class="error" *ngIf="!contactFrom.controls['email'] && contactFrom.controls['email']?.touched"> Please enter a valid email</span>

    </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class = "form-control" formControlName="password">
        <span class="error" *ngIf="!contactFrom.controls['password'] && contactFrom.controls['password']?.touched"> Please enter a valid password</span>

      </div>

      <div class="form-group">
        <label for="mobileno">Mobile</label>
        <input type="text" id="mobileno" name="mobileno" class = "form-control" formControlName="mobileno">
        <span class="error" *ngIf="!contactFrom.controls['mobileno'] && contactFrom.controls['mobileno']?.touched"> Please enter a valid email</span>

      </div>

    <div class="btn">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</form>
</div>
</div>
<router-outlet></router-outlet> -->









<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Intro to Node and MongoDB</title>
    </head>

    <body>
        <h1>Into to Node and MongoDB</h1>
        <form method="post" action="/addname">
            <label>Enter Your Name</label><br>
            <input type="text" name="sname" placeholder="Enter first name..." required><br>
            <label>Enter Your Email</label><br>
            <input type="email" name="email" placeholder="Enter email..." required><br>
            <label>Enter Your Password</label><br>
            <input type="password" name="password" placeholder="Enter password..." required><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html> -->


         
<app-nav></app-nav>
<section class = "hero is-primary is-bold is-fullheight">
  <div class="hero-body">
      <div class="center">
          <div class="container" style="width:500px">
              <!-- <form #registerForm="ngForm" (ngSubmit)="signUp(registerForm.value)"> -->
                  <form #registerForm="ngForm">
                  <h5><h1>Register</h1><br>
                  <label>Name</label><br>
                  <input type="text" [(ngModel)]="resident.name" name="first" placeholder="Enter your name..." required><br>
                  <label>House No</label><br>
                  <input type="text" [(ngModel)]="resident.houseno" name="first" placeholder="Enter your houseno..." required><br>
                  <label>Email</label><br>
                  <input type="text" [(ngModel)]="resident.email" name="first" placeholder="Enter your email..." required><br>
                  <label>Password</label><br>
                  <input type="password" [(ngModel)]="resident.password" name="first" placeholder="Enter password..." required><br>
                  <label>Mobile No.</label><br>
                  <input type="text" [(ngModel)]="resident.mobileno" name="first" placeholder="Enter mobileno..." required><br><br>
                  <button type="submit" class="btn" [disabled]="!registerForm.valid"  style="background-color:rgb(236, 143, 143);color:rgb(26, 24, 24)" (click)="registerVendor()">Register</button><br><br></h5>
              </form>
          </div>
      </div>
  </div>
</section>