/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

.header {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}


.title h1{
    font-weight: bold;
    font-size: 45px;
}

.categories {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category-item-inner > div {
    padding: 5px 10px;
    background: black;
    color: black;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .category-item {
        min-width: 50%;
    }
}

@media (max-width: 80px) {
    .category-item {
        min-width: 100%;
    }
}

.featured-products {
    margin-top: 50px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-gap: 70px;
}

@media (max-width: 1000px) {
    .featured-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .featured-products {
        grid-template-columns: 1fr;
    }
}

.featured-products-title {
    text-align: center;
    font-size: 35px;

}

.featured-product-item {
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}

.featured-product-item-image {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.featured-product-item > .title {
    font-size: 20px;
    font-weight: bold;
}

.featured-product-item > .description {
    color: black}

.featured-product-item > .price {
    font-style: times;
}

button {
    outline: none;
    background: black;
    font-family: "Roboto", sans-serif;
    color:white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}

.fixed-footer{
    margin-top: 50px;
    bottom: 0;
    background-color: yellowgreen;
    height: 50px;

}

.container{
    width: 50%;
    margin: 0 auto; /* Center the DIV horizontally */
}